{% extends 'layout.html' %}

{% block content %}
<div class="message">
    <div class="row">
        <div class="column column-50 column-offset-25">
            <h1>Pub / Sub message</h1>
        </div>
    </div>
    <div class="row">
        <div class="column column-50 column-offset-25">
            <form action="/message" method="post">
                <fieldset>
                    <label for="namespace">Namespace</label>
                    <select name="namespace">
                        {% for customer in customers %}
                        <option value="{{customer}}">{{customer}}</option>
                        {% endfor %}
                    </select>
                    <label for="action">Action</label>
                    <select name="action">
                        <option value="create">Create</option>
                        <option value="update">Update</option>
                        <option value="get">Get</option>
                        <option value="delete">Delete</option>
                    </select>
                    <label for="vm_name">VM Name</label>
                    <input type="text" placeholder="VM Name" name="vm_name">
                    <label for="message">Message</label>
                    <input type="text" placeholder="Message" name="message">
                    <input class="button-primary" type="submit" value="Send">
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
