<table>
    <thead>
        <tr>
            <th>Namespace</th>
            <th>VM Name</th>
            <th>Action</th>
            <th>Message</th>
            <th>Error</th>
            <th>Ack</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
            <td>{{ message.namespace }}</td>
            <td>{{ message.vm_name }}</td>
            <td>{{ message.action }}</td>
            <td>{{ message.message }}</td>
            <td>{{ message.error }}</td>
            <td>{% include 'ack_form.html' %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>